@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-slate-800 text-white;
}

.active-certi {
  @apply text-white bg-slate-800;
}

.hamburger-line {
  @apply w-6 h-0.5 block rounded-xl bg-neutral-800 transition duration-300 ease-in-out;
}

.hamburger-active > span:nth-child(3) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(1) {
  @apply -rotate-45;
}

#home::-webkit-scrollbar {
  width: 0.5em;
  background: transparent; /* Ganti dengan warna latar belakang yang sesuai */
}

#home::-webkit-scrollbar-thumb {
  background: transparent; /* Ganti dengan warna latar belakang yang sesuai */
}
